.card {
  background: #ffffff;
  box-shadow: 0px 2px 2px #0000001a;
  border: 1px solid #c7ced5;
  border-radius: 6px;
  opacity: 1;
  padding: 20px 20px;
  margin: 10px auto;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h4,
.cardInfo {
  margin: 0;
  color: #706f6f;
  font-family: sans-serif;
}
.cardInfo {
  font-size: 11px;
}
.cardDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnRed {
  width: 30px;
  color: #fff;
  background-color: #ef5245;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 5px;
}
.btnGrey {
  background-color: #ebebeb;
  width: 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 5px;
}
.btnGreen {
  background-color: #92d150;
  width: 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 5px;
}
.listCont {
  width: 100%;
  align-items: center;
  border-left: 3px solid #b99ff5;
  padding: 8px;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1);
}
.listContYellow {
  width: 100%;
  border-left: 3px solid #fdd800;
  padding: 8px;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1);
}
.textCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listText {
  font-size: 10px;
  color: #706f6f;
  font-family: sans-serif;
}
.textCont button {
  padding: 10px;
}
.buttonRed {
  width: 100px;
  color: #fff;
  background-color: #ef5245;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 10px;
}
.buttonGrey {
  background-color: #ebebeb;
  width: 100px;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 10px;
}
